@import 'node_modules/@combine-labs/combine-polaris/styles/foundation';
@import 'node_modules/@combine-labs/combine-polaris/styles/shared';

.Select {
  @include text-style-input;
  position: relative;
  display: flex;
  align-items: center;
  color: color('ink');
  cursor: text;
}
