@import 'node_modules/@combine-labs/combine-polaris/styles/foundation';
@import 'node_modules/@combine-labs/combine-polaris/styles/shared';

$backdrop-horizontal-spacing: spacing(tight) * 1.5;
$addon-horizontal-spacing: rem(6px);
$spinner-icon-size: rem(12px);

$stacking-order: (
  contents: 20,
  backdrop: 10,
);

.Input {
  @include text-style-input;
  position: relative;
  z-index: z-index(contents, $stacking-order);
  display: block;
  flex: 1 1 0%;
  width: 100%;
  min-width: 0;
  min-height: control-height();
  margin: 0;
  padding: control-vertical-padding() $backdrop-horizontal-spacing;
  font-family: inherit;
  appearance: none;

  color: color('ink');
  background: color('white');
  border: border(dark);
  box-shadow: 0 0 0 2px transparent;
  border-radius: border-radius();
  will-change: background, box-shadow, border-color;
  transition-property: background, box-shadow, border-color;
  transition-duration: duration();
  transition-timing-function: easing();

  &:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px rgba(color('yellow'), 0.1), inset 0 0 0 1000px white;
    border-color: color('yellow');
    &:focus {
      box-shadow: inset 0 0 0 1000px white;
      border-color: color('blue');
    }
  }

  &:disabled,
  .disabled {
    opacity: 1;
    color: color('ink', 'lightest');
    cursor: initial;
    background-color: color('sky', 'lighter');
    box-shadow: none;
  }

  // remove the box shadow in Firefox when the input is invalid
  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: color('ink', 'lightest');
  }

  // These properties are used to remove the default "spinner" controls
  // for number fields, since we add our own, custom versions instead.
  &[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &:focus {
    outline: none;
    background: white;
    border-color: color('blue');
    box-shadow: 0 0 0 2px rgba(color('blue'), 0.25);
  }
}

.error {
  background-color: color('red', 'lighter');
  border-color: color('red');
  box-shadow: none;

  &::placeholder {
    color: rgba(color('ink'), 0.4);
  }
}