@import 'node_modules/@combine-labs/combine-polaris/styles/foundation';
@import 'node_modules/@combine-labs/combine-polaris/styles/shared';

$backdrop-horizontal-spacing: spacing(tight) * 1.5;

.Error{
  color: red;
}

.FormDate {
  @include text-style-input;
  font-family: inherit;
  background: color('white');
  border: border(dark);
  box-shadow: 0 0 0 2px transparent;
  border-radius: border-radius();
  padding: control-vertical-padding() $backdrop-horizontal-spacing;
  min-height: control-height();
  width: 100%;
  appearance: none;
  &:focus {
    border-color: color('blue');
    box-shadow: 0 0 0 2px rgba(color('blue'), 0.25);
    outline: none;
  }
  &[disabled] {
    color: color('ink', 'lightest');
    background-color: color('sky', 'lighter');
  }
}

:global(.react-datepicker-wrapper) {
  display: block;
}

:global(.react-datepicker__input-container) {
  width: 100%;
}

:global(.react-datepicker-popper) {
  z-index: 999;
  margin-top: spacing(extra-tight);
}

:global(.react-datepicker) {
  @include text-style-input;
  font-family: inherit;
  box-shadow: shadow(deep);
  border: none;
}

:global(.react-datepicker__triangle) {
  display: none;
}

:global(.react-datepicker__header) {
  background: color('sky', 'lightest');
  border-bottom: border();
}

:global(.react-datepicker__header__dropdown) {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

:global(.react-datepicker__navigation) {
  border: none;
  text-indent: 0;
  top: spacing(tight);

  width: control-height();
  height: control-height();
  font-size: 2rem;
  border-radius: border-radius();
  color: color('ink', 'lighter');
  &:focus {
    outline: none;
  }
  &:hover {
    @include state(hover);
    color: color('ink');
  }
  &:active {
    @include state(press);
  }
}

:global(.react-datepicker__navigation--previous) {
  left: spacing(tight);
}

:global(.react-datepicker__navigation--next) {
  right: spacing(tight);
}

:global(.react-datepicker__month-dropdown-container) {
  margin: 0;
  width: 50%;
  padding-right: 2px;
}

:global(.react-datepicker__year-dropdown-container) {
  margin: 0;
  width: 50%;
  padding-left: 2px;
}

:global(.react-datepicker__month-select),
:global(.react-datepicker__year-select) {
  @include text-style-input;
  font-family: inherit;
  background: color('white');
  border: border(dark);
  box-shadow: 0 0 0 2px transparent;
  border-radius: border-radius();
  padding: control-vertical-padding() $backdrop-horizontal-spacing;
  height: control-height();
  width: 100%;
  &:focus {
    border-color: color('blue');
    box-shadow: 0 0 0 2px rgba(color('blue'), 0.25);
    outline: none;
  }
}

:global(.react-datepicker__day-name) {
  margin: .4rem;
  width: 3rem;
  line-height: 2rem;
  font-size: 1.2rem;
  margin-top: spacing(tight);
  &:first-child,
  &:last-child {
    @include text-emphasis-subdued;
  }
}

:global(.react-datepicker__day) {
  margin: .4rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: border-radius() !important;
  &:hover {
    color: color('ink');
    @include state(hover);
  }
}

:global(.react-datepicker__day--weekend) {
  @include text-emphasis-subdued;
}

:global(.react-datepicker__day--outside-month) {
  @include text-emphasis-placeholder;
  color: color('sky');
}

:global(.react-datepicker__day--keyboard-selected) {
  color: inherit;
  @include state(hover);
  &:hover {
    @include state(press);
  }
}

:global(.react-datepicker__day--today) {
  color: color('blue');
  &:hover {
    color: color('blue');
  }
}

:global(.react-datepicker__day--selected) {
  color: white;
  background: color('blue');
  @include text-emphasis-strong;
  &:hover {
    color: white;
    background: color('blue');
  }
}

:global(.react-datepicker__close-icon) {
  &:after {
    background: color('ink', 'lightest');
    font-size: 17px;
    line-height: 14px;
    font-weight: 600;
    padding: 0;
  }
  &:hover:after {
    background: color('ink');
  }
}
